:root {
  --primary-text-color: #ffffff99;
  --primary-btn-color: #5CFF04;
  --primary-btn-bg: #1D2D14;
  --primary-bg: #000000;
}

@font-face{
  font-family: 'BungeeInline';
  src: url('./assets/fonts/bungee-font/BungeeInline-Regular.ttf') format('truetype');
}

@font-face{
  font-family: BungeeOutline;
  src: url('./assets/fonts/bungee-font/BungeeOutline-Regular.ttf') format('truetype');
}

@font-face{
  font-family: Unna;
  src: url('./assets/fonts/unna/Unna-Regular.ttf') format('truetype');
}


*{
    box-sizing: border-box;
}

#root {
  margin: 0 auto;
  padding: 2rem;
}

.app{
  width: 1200px;
  max-width: 1200px;
}

body {
  margin: 0;
  background-color: var(--primary-bg);
  display: flex;
  min-height: 100svh;
}

.header{
  position: fixed;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 3;
  background-color: var(--primary-bg);
}

.logo{
  z-index:3;
}

.logo img{
  display: block;
  width: 66px;
  height: 66px;
}

.header .menu-nav{
  display: flex;
  flex-direction: row;
  z-index: 3;
}

.header .menu-nav a{
  color: var(--primary-text-color);
  font-family: BungeeOutline;
  font-weight: 300;
  margin: 0 7px;
  font-size: 24px;
  text-decoration: none;
}

.header .menu-nav a:hover{
  text-decoration: underline;
  opacity: 90%;
  color: #ffff;
  transition: all 0.3s ease;
}

.social-media{
  position: fixed;
  right: 50px;
  top: 80px;
  opacity: 0;
  animation: fadeDown 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.3s;
  z-index: 3;
}

.social-media a img{
  background-color: #ffff;
  width: 46px;
  height: 46px;
  margin: 5px;
  border-radius: 50%;
}

.social-media a img:hover{
  outline: 1px solid #ffff;  
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.98);
  }
  60% {
    opacity: 1;
    transform: translateY(-4px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-40px) scale(1);
  }
  60% {
    opacity: 1;
    transform: translateY(4px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.hero h1 {
  font-family: BungeeOutline;
  color: var(--primary-text-color);
  font-size: 150px;
  font-weight: 400;
  line-height: 1;
  position: absolute;
  top: -10px;
  z-index: 2;
  background-color: var(--primary-bg);
  opacity: 0;
  animation: fadeUp 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.3s;
}

.hero h2 {
  font-family: BungeeOutline;
  color: var(--primary-text-color);
  font-size: 130px;
  font-weight: 400;
  position: absolute;
  bottom: -90px;
  right: 50px;
  z-index: 2;
  background-color: var(--primary-bg);
  opacity: 0;
  animation: fadeDown 1.1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.1s;
}

.home-cartoon {
  display: none;
  position: absolute;
  width: 400px;
  max-width: 400px;
  top:40px;
  right: 50%;
  transform: translateX(-50%);
  z-index: 2;
  opacity: 0;
  animation: fadeInScale 1.1s ease-out forwards;
  animation-delay: 0.3s;
}


.global-btn, #submit-btn{
  color: var(--primary-btn-color);
  background-color: var(--primary-btn-bg);
  border: 1px solid var(--primary-btn-color);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 34px;
  font-family: BungeeInline;
  padding: 0px 15px;
  margin: 0;
  height:57px;
  width: 170px;
  opacity: 0;
  animation: fadeUp 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.3s;
}

#submit-btn{
  display: block;
  margin: 13px auto 0 auto;
  font-size: 25px;
  height:37px;
  width: 100px;
}

.global-btn:hover {
  background-color: var(--primary-btn-hover-bg);
  transform: scale(1.03);
}

#submit-btn:hover{
  background-color: var(--primary-btn-hover-bg);
  transform: scale(1.03);
}



.container{
  display: flex;
  flex-direction: column;
}


.container h2{
  text-align: center;
  font-family: BungeeOutline;
  color: var(--primary-text-color);
  font-size: 96px;
  font-weight: 400;
  z-index: 2;
  opacity: 0;
  animation: fadeUp 1.1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.1s;
  margin-top: 70px;

}

.container h4{
  text-align: center;
  font-family: BungeeOutline;
  color: var(--primary-text-color);
  font-size: 46px;
  font-weight: 400;
  z-index: 2;
  opacity: 0;
  animation: fadeUp 1.1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.1s;
}

.footer-tag{
  font-family: BungeeInline;
  font-size: 12px;
  color: var(--primary-text-color);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


.container form{
  display: block;
  position: relative;
  bottom: 80px;
  margin: 0 auto;
  flex-direction: column;
  max-width: 450px;
  opacity: 0;
  animation: fadeDown 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.3s;
}

.container form nav{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.container form nav label{
  color: var(--primary-text-color);
  font-family: BungeeOutline;
  font-size: 24px;
}

.container form nav input{
  width: 420px;
  padding: 9px 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
}

.container form nav input::placeholder{
  opacity: 0.8;
  font-family: BungeeInline;
  font-size: 14px;
}

.container form nav textarea::placeholder{
  opacity: 0.8;
  font-family: BungeeInline;
  font-size: 14px;
}

form > :first-child {
  margin-top: 22px;
}

#message{
  padding: 5px 10px;
  border-radius: 10px;
  resize: vertical;
  font-size: 14px;
}


.work-section {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
}

.list-work {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  position: relative;
  bottom: 60px;
}

.work-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.work-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding:  0;
  position: relative;
}

.work-row h4 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  position: relative;
  top: 4px;
}

.work-row .view-btn {
  color: var(--primary-btn-color);
  background-color: var(--primary-btn-bg);
  border: 1px solid var(--primary-btn-color);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 25px;
  font-family: BungeeInline;
  padding: ;
  margin: 0;
  height: 40px;
  width: 110px;
  opacity: 0;
  animation: fadeUp 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.3s;
}

.view-btn:hover{
  background-color: var(--primary-btn-hover-bg);
  transform: scale(1.03);
}
.line-row {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  margin: 0.2rem auto 0 auto;
  animation: fadeDown 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.3s;
}

.below-description{
  text-align: left;
  color: var(--primary-text-color);
  margin: 0;
  width: 100%;
  margin: 0.1rem auto 0 auto;
  font-size: 17px;
  color: #aaa;
  line-height: 1.2;
  opacity: 0;
  animation: fadeUp 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.3s;
}

.work-item:nth-of-type(1) .line-row {
  background-color: #333;
}
.work-item:nth-of-type(2) .line-row {
  background-color: #333;
}
.work-item:nth-of-type(3) .line-row {
  background-color: #333;
}


.notification{
  /*font-family: BungeeOutline;*/
  color: green;
  position: absolute;
  margin: 0;
  top: 220px;
  right: 50%;
  transform: translateX(50%);
  font-size: 24px;
}

.error{
  color: red;
  position: absolute;
  margin: 0;
  top: 220px;
  right: 50%;
  transform: translateX(50%);
  font-size: 24px;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
