:root {
  --primary-text-color: #ffffff99;
  --primary-btn-color: #5CFF04;
  --primary-btn-bg: #1D2D14;
  --primary-bg: #000000;
}

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: translateX(10px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@font-face{
  font-family: 'BungeeInline';
  src: url('./assets/fonts/bungee-font/BungeeInline-Regular.ttf') format('truetype');
}

@font-face{
  font-family: BungeeOutline;
  src: url('./assets/fonts/bungee-font/BungeeOutline-Regular.ttf') format('truetype');
}

@font-face{
  font-family: Unna;
  src: url('./assets/fonts/unna/Unna-Regular.ttf') format('truetype');
}

*{
  transition: color 0.3 ease;
}


#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  display: block;
  margin: 0 auto;
  max-width: 1780px;
  background-color: var(--primary-bg);
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo{
  z-index:3;
}

.logo img{
  display: block;
  width: 66px;
  height: 66px;
}

.header .menu-nav{
  display: flex;
  flex-direction: row;
}

.header .menu-nav a{
  color: #ffff;
  font-family: BungeeOutline;
  font-weight: 300;
  margin: 0 7px;
  opacity: 60%;
  font-size: 24px;
  text-decoration: none;
}

.header .menu-nav a:hover{
  text-decoration: underline;
  opacity: 90%;
}

.social-media{
  position: absolute;
  right: 50px;
  top: 80px;
}

.social-media a img{
  background-color: #ffff;
  width: 46px;
  height: 46px;
  margin: 5px;
  border-radius: 50%;
}

h1{
  font-family: BungeeOutline;
  color: var(--primary-text-color);
  line-height: 1;
  font-weight: 400;
  font-size: 128px;
  position: absolute;
  top: -30px;
  z-index: 2;
  background-color: var(--primary-bg);
  animation: fadeIn 1.2s ease-out forwards;
  opacity: 0;
  animation-delay: 0.3s;
}

h2{
  font-family: BungeeOutline;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 128px;
  position: absolute;
  bottom: -100px;
  right: 50px;
  z-index: 2;
  background-color: var(--primary-bg);
}

.home-cartoon{
  position: absolute;
  top: 40px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.global-btn{
  color: var(--primary-btn-color);
  background-color: var(--primary-btn-bg);
}